/* .buy-page{
    
    max-height: 8600px;
} */
.wrapper{
   
    max-width: 800px;
    margin: 180px auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.13);
    /* position:absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%; */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    

   
}
.shop-hedar{
  
  max-width: 200px;
  text-align: center;

}

/* .close{
    font-size: 1rem;
    font-weight: normal;
    opacity: 1;
} */
.close:hover{
    background-color:rgb(189, 27, 27);
}
.alert-dismissible .close{
    position:-webkit-sticky;
}

.price{
    border: none;
    width: 5px;
    height: 5px;
    border-top-right-radius: 50px;
}




/* .table{
 width:  50px;
 background-color: rgba(255,255,255,0.13);
    overflow: hidden;
} */
/* .table thead tr th{
    letter-spacing: 0.08rem;
    font-weight: normal;
} */
/* .table tr td,
.table tr th{
    font-weight: 600;
} */
h2{
   text-align: center;
    font-size:3rem;
    color:white;
    font-weight:800;
    text-align:center;
}
.total{
    font-size:3rem;
    color:white;
    font-weight:800;
    text-align:center;
}
.subtotal{
    font-size:2rem;
    color:white;
    font-weight: 600;
    text-align:end;
}



/* .table tbody td.item{
    
    font-size: 1.8rem;
    font-weight: 600;
    text-align: left;
}


.table tbody td.item img{
    width: 100px;
    height: 100px;
    object-fit:fill;
}
.table thead th.header{
    text-align: center;
}

.table tbody tr:last-child{
    border: none;
}

.table tbody tr:hover{
    transform: scale(1.004);
    box-shadow: 5px 5px 10px white;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: unset;
}
.table tbody tr:hover .close{
    font-size: 1rem;
    opacity: 1;
}
.table tbody tr:hover .close:hover{
    color: #aaa;
}

.tag,.fa-shoppping-cart{
    font-size: 0.5rem;
} */

#buybtn{
    margin-top: 30px;
    margin-left: 250px;
        width: 30%;
        text-align: center;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
} 

/* .cart-box{
    
    width: 30% !important;
    position:absolute;
    left: 72%;
    top:25%;
    border:solid 1px white ;
    padding: 10px 20px;
} */


/* виж за контейнер заавтоматичен размер */
.cart-wrapper{
    overflow-y: auto;
    max-height: 350px;
}

.subtotal{
    text-align: right;
    padding: 5%;
}


/* .cart-icon{
    text-align: right;
} */

.cart-shop{
display:grid;
grid-template-columns: 3fr 5fr 1fr;
padding: 3% 2%;
border-bottom: solid 1px lightgray;
}

.cart-shop img{
    width:100% ;
}

.cart-shop .details{
    padding-left: 5%;
}

.cart-shop h3{
    text-align: left;
    margin-bottom: 5%;
}

.cart-shop .price{
    display: block;
   
    margin-top:10%;
}

.cart-shop .quantity{
display: block;
margin-top: 5%;
}

.fa-window-close{
   color: red;
}

.cancel{
    text-align: right;
    cursor: pointer;
}

/* да се позиционира всичко след навигацията*/
/* whole-cart-window{
    border: solid green 1px;
    border-top: none;
    position: fixed;
    top:12vh;
    background-color: white;
    margin-right:2% ;
} */


.non-empty::after{
content:var(--after-content) ;
font-size: 15px;
width: 15px;
display: inline-block;
text-align: center;
background-color: red;
border-radius: 50%;
}